### Example user template template
### Example user template
### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env
### Yeoman template
node_modules/
bower_components/
*.log

build/
dist/
### Sass template
.sass-cache/
*.css.map


# IntelliJ project files
.idea
*.iml
out
gen

/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
/public
